body {
    height: 100%;
    background-color: #F9FAFC;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.h1 {
    font-family:Georgia, serif;
   
}
.container {
    max-width:90%;
}


.brand {
    font-family:Georgia,
        serif;
   /* font-size: 2.4rem;
    font-weight: 700;*/
    color:#034f55;
    
}

.blue-o {
    color: #0b08ef;
    font-weight: bold;
}


.thin {
    font-size: 1.4rem;
    font-weight: 300;
}

/*.navbar{
    position: fixed;
    top: 0%;
    min-height: 50px;
    width: 100%;
    z-index: 9999;*/
    

.navbar-dark {
    font-weight: bolder;
    text-shadow:1px 1px #141313;
    
}

.navbar-text {
    margin-top: 20px;
    font-weight: bolder;
    
    }

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
    
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    margin-bottom: 10px;
}

.bg-image {
    position:relative;
    margin-top: 50px;
     }


.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #0804ef;
    border-radius: 5px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #6c757d !important;
    margin: 4px;
    
}

.posthead {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.posthead-text {
    position: relative;
}


.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    font-family:"Roboto Slab", serif;
    margin-left: 0%;
}

.post-subtitle {
    color: lightgray;
    font-size: smaller;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* social media links*/
.mb-4 {
    display:flex;
    justify-content: center;
 }

 .line {
    margin-top: 70px;

 }
hr {
    margin: 10px 0;
    border: 5px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(0, 0, 0)));
     }


    /* Medium devices (tablets, 768px and up)*/
         @media (min-width: 768px) {
 hr {
     margin: 30px 0;
 }

.container {
         max-width: 80%;
 }
                   
         }