{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
        <div class="image-container">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
           <!--<div class="image-flash">
                <p class="author">Author: {{ post.author }}</p>
            </div>-->
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ post.title }}</h2>
            {{ post.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->

            <p class="text-end"><em>Updated on: {{ post.updated_on }}</em></p>
        </div>
    </div>

    <!--creat your new post and loging-->

    

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Add a new Post</h2>
              {% if user.is_authenticated %}
                <p>Posting as: {{ user.username }}</p>

                <!-- add your form here. Your submit button should 
                                                have the classes of btn, btn-secondary -->

                <form method="post" action="{% url 'post' %}">
                    {{ post_form | crispy }}
                    {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
              {% else %}
              <p>Log in to add your post</p>
              {% endif %}
         </div>
 </div>

            
            
            </form>
        </div>
    </div>
</div>
{% endblock content %}